* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     
}


html {
    /*percentage of users browser font size setting (1rem = 10px) */
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    color: #444;
}

/*NAVBAR*****************************************************************************************************/
    


.logout{
    border:.1rem solid #000;
    background-color:#ea3232;
    border-radius:1.2rem;
    font-size:2.5rem;
    cursor:pointer;
    margin-top:3rem;
}
.logout1 {
    border: .1rem solid #000;
    background-color: #ea3232;
    border-radius: 1.2rem;
    color: #fff;
    font-size: 2.5rem;
    margin-top: 3rem;
    cursor: pointer;
    margin-right: 27rem;
    padding: .4rem .4rem;
    transition: all .5s;
    background-image: linear-gradient(1deg, #61626c, #149BF3 99%)
}
    .logout1:hover {
        background-image: linear-gradient(1deg, #8c91f1, #7dc4f2 99%)
    }
/*MOBILE VIEW*************************************/
.logo {
    font-size: 4rem;
    margin-right: 15rem;
    margin-top: -1.5rem;
    margin-left: 5rem;
    width: 12rem;
    font-family: Calibri;
}

/*SEARCH BAR*/
.search {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: .8rem;
    padding: .5rem 1rem;
    margin-right: 80rem;
    width: 40rem;
    margin-top: -4rem;
    height: 2rem;
    gap: 2rem;
}

.search1 {
    border-radius: .8rem;
    padding: .5rem 2rem;
    margin-right: -1rem;
    width: 35rem;
}

.btn-search {
    font-size: 1.8rem;
    background-color: #2596be;
    border-radius: 1.4rem;
    padding: .7rem 1rem;
    color: #fff;
    cursor:pointer;
}
/*MAIN LAYOUT OF LOGIN**************************************************************/
.last-order{
    display:flex;
    flex-direction:row;
    margin-right:1rem;
    margin-bottom:2rem;
}
.order-name{
    inline-size:45rem;
    overflow:clip;

}

.order-img{
    margin-top:-4rem;
}
.order-item {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.btn-order {
    margin-top: 10rem;
    margin-right: 2rem;
    background-color: #6b95e1;
    font-size: 2rem;
    border-radius:1.2rem;
    padding:.3rem 1rem;
}
.grid-log {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: .05rem solid #000;
    height: 40rem;
    width: 70rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3.5rem 2rem #777;
}

.grid-log-reg {
    margin-top: 10rem;
    display: grid;
    margin-right: 40rem;
    grid-template-columns: repeat(2,1fr);
    border: .05rem solid #000;
    height: 30rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3.5rem 2rem #777;
}

.grid-1 {
    grid-column: 1;
}

.grid-2 {
    grid-column: 2;
}

.img-log {
    min-height: 36rem;
    max-height: 36rem;
    min-width: 28rem;
    max-width: 25rem;
}

.form-control {
    border-radius: 12px;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    background-color: #b5b4b4;
    max-width:28rem;
    min-width:28rem;
}

.form-control-reg {
    border-radius: 12px;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
    margin-right: .9rem;
    background-color: #b5b4b4;
}

    .form-control-reg:first-child {
        margin-top: 1rem;
    }

.label {
    color: #000;
    margin-left: .3rem;
}

.btn-log {
    background-color: #6a8ae8;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    padding: .5rem 1rem;
    transition: all .4s;
    border-style: none;
    text-decoration: none;
    color: #f7f1f1;
    margin-left: 10rem;
    margin-right: 1rem;
    margin-top:3rem;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%)
}

    .btn-log:hover {
        background-color: #314fa9;
        background-image: linear-gradient(1deg, #3c43c8, #0b66a1 99%)
    }

.btn-log1 {
    background-color: #88a0e6;
    font-size: 1.8rem;
    border-radius: 1.2rem;
    padding: .2rem .6rem;
    margin-left: 10rem;
    margin-right: 1rem;
    transition: all .4s;
    border-style: none;
    text-decoration: none;
    color: #f7f1f1;
}

    .btn-log1:hover {
        background-color: #314fa9;
    }

.register p {
    margin-top:5rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.btn-purchase{
    width:7rem;
}
/*FOOTER********************************************************************/
.footer-grid {
    margin-top: 15rem;
    background-color: #fbfbfb;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    direction: rtl;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.about-us p {
    font-size: 1.8rem;
}

.about-us {
    padding: 0rem 3rem;
}

.footer-collabs {
    padding: 0 2rem;
    margin-right: 10rem;
}

a {
    text-decoration: none;
}

.footer-img-collabs {
    max-width: 15rem;
    max-height: 7rem;
}

.footer-rights {
    padding-left: 70rem;
    align-items: center;
    align-content: center;
    color: #fdf2e9;
    background-color: #fdf2e9;
}

.text-black {
    border: 2px solid;
    background-color: #fdf2e9;
    border-radius: 12px;
    padding: .5rem 1rem;
    color: #fdf2e9;
    margin: 5rem 5rem;
}

.footer-contact p {
    padding: -2rem;
    margin-bottom: 4rem;
}


